name: build
on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          cache: npm
          node-version-file: .nvmrc

      - name: Install dependencies
        run: |
          npm ci --prefer-offline
          npm ci --prefer-offline --prefix src/storybook

      - name: Run tests
        run: npm test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Disable Forge telemetry
        run: npx forge settings set usage-analytics false

      - name: Run ESLint
        run: npm run lint:js

      - name: Type check
        run: npm run lint:tsc

      - name: Build Forge app
        run: npm run build

      - name: Lint Forge apps
        run: |
          npm run lint:forge
          mv manifest.macro.yml manifest.yml
          npm run lint:forge
        env:
          FORGE_API_TOKEN: ${{ secrets.FORGE_API_TOKEN }}
          FORGE_EMAIL: ${{ secrets.FORGE_EMAIL }}

      - name: Lint Storybook
        run: npm run --prefix=src/storybook lint

      - name: Build Storybook
        run: npm run --prefix=src/storybook build-storybook
